<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indra.cloud.user.mapper.AreaMapper">

    <resultMap id="BaseResultMap" type="com.indra.cloud.user.model.Area">
            <id property="areaId" column="area_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        area_id,create_time,update_time,
        area_name,parent_id,level
    </sql>
    <sql id="Vo_Column_List">
        `area_id`,`area_name`,`parent_id`,`level`,`create_time`,`update_time`
    </sql>
    <select id="list" resultType="com.indra.cloud.api.user.vo.AreaVO">
        select `area_id`,`area_name`,`parent_id`,`level` from area
        order by area_id asc
    </select>
    <select id="getByAreaId" resultType="com.indra.cloud.api.user.vo.AreaVO">
        select `area_id`,`area_name`,`parent_id`,`level` from area where area_id = #{areaId}
    </select>
    <insert id="save">
        insert into area (`area_name`,`parent_id`,`level`)
        values (#{area.areaName},#{area.parentId},#{area.level});
    </insert>
    <update id="update">
        update area
        <set>
            <if test="area.areaName != null">
                `area_name` = #{area.areaName},
            </if>
            <if test="area.parentId != null">
                `parent_id` = #{area.parentId},
            </if>
            <if test="area.level != null">
                `level` = #{area.level},
            </if>
        </set>
        where area_id = #{area.areaId}
    </update>
    <delete id="deleteById">
        delete from area where area_id = #{areaId}
    </delete>

    <select id="countByAreaId" resultType="int">
        SELECT COUNT(*) FROM `area` WHERE parent_id = #{areaId}
    </select>

    <select id="listByPid" resultType="com.indra.cloud.api.user.vo.AreaVO">
        SELECT `area_id`,`area_name`,`parent_id`,`level` FROM `area` WHERE parent_id = #{pid}
    </select>

    <select id="getAreaListInfo" resultMap="BaseResultMap">
        SELECT  p.area_id pid,p.area_name pname,p.parent_id ppid,p.level plevel,
                c.area_id cid,c.area_name cname,c.parent_id cpid,c.level clevel,
                r.area_id ,r.area_name,r.parent_id,r.level
        FROM `area` p
                 JOIN `area` c  ON c.parent_id=p.area_id
                 JOIN `area` r  ON r.parent_id=c.area_id
        WHERE p.parent_id=0
    </select>
    <select id="listAreaOfEnable" resultMap="BaseResultMap">
        SELECT * FROM
            (
                SELECT
                    p.area_id pid,p.area_name pname,p.parent_id ppid,p.level plevel,
                    c.area_id cid,c.area_name cname,c.parent_id cpid,c.level clevel
                FROM
                    `area` p
                        JOIN `area` c ON p.level = 1 AND c.parent_id = p.area_id
            ) tal
                JOIN `area` a  ON tal.cid = a.parent_id
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from area
        where  area_id = #{areaId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from area
        where  area_id = #{areaId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="area_id" keyProperty="areaId" parameterType="com.indra.cloud.user.model.Area" useGeneratedKeys="true">
        insert into area
        ( area_id,create_time,update_time
        ,area_name,parent_id,level
        )
        values (#{areaId,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
        ,#{areaName,jdbcType=VARCHAR},#{parentId,jdbcType=BIGINT},#{level,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="area_id" keyProperty="areaId" parameterType="com.indra.cloud.user.model.Area" useGeneratedKeys="true">
        insert into area
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="areaId != null">area_id,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="areaName != null">area_name,</if>
                <if test="parentId != null">parent_id,</if>
                <if test="level != null">level,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="areaId != null">#{areaId,jdbcType=BIGINT},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="areaName != null">#{areaName,jdbcType=VARCHAR},</if>
                <if test="parentId != null">#{parentId,jdbcType=BIGINT},</if>
                <if test="level != null">#{level,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.indra.cloud.user.model.Area">
        update area
        <set>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="areaName != null">
                    area_name = #{areaName,jdbcType=VARCHAR},
                </if>
                <if test="parentId != null">
                    parent_id = #{parentId,jdbcType=BIGINT},
                </if>
                <if test="level != null">
                    level = #{level,jdbcType=INTEGER},
                </if>
        </set>
        where   area_id = #{areaId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.indra.cloud.user.model.Area">
        update area
        set 
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            area_name =  #{areaName,jdbcType=VARCHAR},
            parent_id =  #{parentId,jdbcType=BIGINT},
            level =  #{level,jdbcType=INTEGER}
        where   area_id = #{areaId,jdbcType=BIGINT} 
    </update>
</mapper>
